body{
    background-color: #343633;
}

h1{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 3vh;
    color: white;
}

form{
    width: 50vw;
    margin: auto;
}

.form-label{
    margin: 0;
    color: white;
}

.form-control{
    margin-bottom: 3vh;
}

.card{
    width: 50vw;
    margin: auto;
    border: 1px solid black;
    background-color: #d3d4d9;
}

h3{
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}

#weather_pic{
    width: 100%;
    height: 26vh;
    object-fit: cover;
}

h2{
    text-align: center;
}

table{
    width: 95%;
    margin-left: 1vw;
    margin-right: 1vw;
}

tr{
    height: 6vh;
}

tr:not(:last-child){
    border-bottom: 1px solid black;
}

th{
    width: 20%;
}

td{
    width: 25%;
}
